div#director>img{
  height: 300px;
  width: 200px;
  object-fit: cover;
  margin: 50px 0px 50px 150px;
}

div.img_center{
  text-align: center;
}

h2.title_movie{
  font-family: serif;
}

#top{
  font-family: serif;
  
}

p#major_movie{
  font-family: serif;
  text-align: center;
  font-size: 60px;
}

.sinkai_movie{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sinkai_movie:not(:last-child){
  margin-bottom: 20px;
}

.sinkai_movie:nth-child(even){
  flex-direction: row-reverse;
}

div.sinkai_movie>img{
  display: block;
  width: 500px;
  height: 300px;
  object-fit: cover;
  margin: 100px 100px 50px 200px;
}

.info_movie{
  margin: 100px;
  width: 48%;
}

.info_movie>h2{
  font-size: 75px;
}

