div#director>img{
  height: 300px;
  width: 200px;
  object-fit: cover;
  margin: 50px 0px 50px 150px;
}

div.img_center{
  text-align: center;
}

h2.title_movie{
  font-family: serif;
}

#top{
  font-family: serif;
  
}

p#major_movie{
  font-family: serif;
  text-align: center;
  font-size: 60px;
}

div#name>img{
  height: 350px;
  width: 550px;
  object-fit: cover;
  margin: 50px 150px 20px 770px;
  
}



div#weather>img{
  height: 350px;
  width: 550px;
  object-fit: cover;
  margin: 50px 150px 20px 150px;
}

div#door>img{

height: 350px;
width: 550px;
margin: 50px 150px 20px 770px ;
object-fit: cover;
}
