div#director>img{
  height: 250px;
  width: 150px;
  object-fit: cover;
}


#top{
  font-family: serif;
  
}

div#name>img{
  height: 300px;

}

div#weather>img{
  height: 300px;
  width: 535px;
  object-fit: cover;
}

div#door>img{
height: 300px;
width: 535px;
object-fit: cover;
}
